{% extends "main/base.html" %}
{% load static%}
{% block links %}
    <link href="{% static 'css/creators.css'%}" rel="stylesheet">
{% endblock %}
{% block title%}
About us
{% endblock %}
{% block maincont %}
<main class="main container">
    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col me-auto">
                <form>
                    <div class="form-group text-center">
                        <img src="{% static  'img/shslxrd.jpg' %}" class="img-fluid" alt="Зображення" id="profile">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Maksym "shslxrd" Skladan</h2>
                        <p class="text-center">Back-end developer.</p>
                    </div>
                    <div class="form-group text-center">
                        <button onclick="window.open('https://t.me/whataboutsleep', '_blank')" id="telegram">
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                        height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <span>Написати</span>
                        </button>
                    </div>
                </form>
                <div class="social-links">
                    <a href="https://www.youtube.com/@lordshadowtop6275" class="social-link"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/in/maksym-skladan-05b24b29a/" class="social-link">
                        <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.tiktok.com/@nomedie_" class="social-link"><i
                            class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/nnam.e17/" class="social-link"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col me-auto">
                <form>
                    <div class="form-group text-center">
                        <img src="{% static  'img/concept.jpg' %}" class="img-fluid" alt="Зображення" id="profile">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Illia "conceptbtw" Movchko</h2>
                        <p class="text-center">Front-end developer.</p>
                    </div>
                    <div class="form-group text-center">
                        <button onclick="window.open('https://t.me/conceptbtw', '_blank')" id="telegram">
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                        height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <span>Написати</span>
                        </button>
                    </div>
                </form>
                <div class="social-links">
                    <a href="https://www.youtube.com/@conceptbtw" class="social-link"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.twitch.tv/conceptbytheway" class="social-link"><i
                            class="fa-brands fa-twitch"></i></a>
                    <a href="https://www.tiktok.com/@conceptbtw" class="social-link"><i
                            class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/conceptbytheway" class="social-link"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/conceptbtw" class="social-link"><i
                            class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}


