{% extends "main/base.html" %}
{% load static%}
{% block links %}
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
{% endblock %}
{% block title%}
Home
{% endblock %}
{% block maincont %}
<main class="main container">
    <div class="container text-center" id="formContainer">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static 'img/python.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як правильно встановити python?</h2>
                        <p class="text-center">Існує кілька способів встановлення Python на ваш комп'ютер. Найпоширеніший спосіб - використання офіційного інсталятора Python, який можна завантажити з офіційного веб-сайту Python. Ось крок за кроком інструкція...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="{% url 'python' %}" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/java.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як встановити java?</h2>
                        <p class="text-center">
                            Щоб встановити Java на свій комп'ютер, вам слід виконати наступні кроки. Зазначте, що точні кроки можуть змінюватися в залежності від вашої операційної системи (Windows, macOS, Linux).</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="{% url 'java' %}" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/git.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як встановити Git?</h2>
                        <p class="text-center">Встановлення Git - це досить простий процес, і все залежить від вашої операційної системи. Нижче наведені інструкції для різних платформ...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/vs_code.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як встановити VS Code?</h2>
                        <p class="text-center">Встановлення Visual Studio Code (VS Code) - це досить простий процес. Ось кроки для встановлення VS Code на різних операційних системах...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/xiaomi.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як розблокувати bootloader xiaomi?</h2>
                        <p class="text-center">Розблокування загрузчика (bootloader) на пристроях Xiaomi може змінюватися в залежності від конкретної моделі та версії MIUI. Важливо зазначити, що розблокування загрузчика може скасувати гарантійні обов'язки, і це може призвести до втрати даних на пристрої. Також, розблокування загрузчика може зробити пристрій менш безпечним.</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/twrp.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як встановити TWRP Recovery?</h2>
                        <p class="text-center">Встановлення TWRP (Team Win Recovery Project) може змінюватися в залежності від моделі вашого пристрою. Якщо ви плануєте встановлювати TWRP, вам слід уважно читати інструкції та переконатися, що вони відповідають вашому конкретному пристрою. Тут є загальний огляд процесу встановлення...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/redmi7.png' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Xiaomi Redmi 7 - прошивки.</h2>
                        <p class="text-center">Це програмне забезпечення, що управляє операційними функціями смартфона. Офіційні прошивки забезпечують стабільну роботу, а неофіційні можуть включати нові функції, але потребують обережності при використанні.</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/frontend.jpg' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Основи написання Front-end</h2>
                        <p class="text-center">Написання front-end включає в себе розробку користувацького інтерфейсу та взаємодії користувача на веб-сайтах або веб-додатках. Основні технології, які використовуються для цього, включають HTML, CSS та JavaScript. Ось короткий огляд основ...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>    
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/coding.jpg' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Як вибрати напрямок в програмуванні?</h2>
                        <p class="text-center">Вибір напрямку в програмуванні залежить від ваших інтересів, цілей та обставин. Існує багато різних напрямків у програмуванні, і кожен з них відзначається своїми особливостями та можливостями. Ось кілька кроків, які можуть допомогти вам визначити напрямок...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{% static  'img/back-end.jpg' %}" class="img-fluid" alt="Зображення">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">Основи написання Back-end</h2>
                        <p class="text-center">
                            Написання back-end (заднього кінця) є важливою частиною розробки програмного забезпечення. Back-end відповідає за обробку бізнес-логіки, взаємодію з базою даних, та надання даних для фронтенду (клієнтської сторони). Ось деякі основні аспекти написання back-end...</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}





