{% extends "main/base.html" %}
{% load static%}
{% block links %}
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
{% endblock %}
{% block title%}
Home
{% endblock %}
{% block maincont %}
<main class="main container">
    <div class="container text-center" id="formContainer">
        <div class="formWrapper row row-cols-1 row-cols-md-4">
                    {% for data in your_model_data %}
            <div class="col">
                <form id="mainpage" class="searchable-form">
                    <div class="form-group text-center">
                        <img src="{{ data.photo.url }}" class="img-fluid" alt="Изображение">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">{{ data.title }}</h2>
                        <p class="text-center">{{ data.text }}</p>
                    </div>
                    <div class="form-group text-center">
                        <a href="{{ data.link }}" class="btn btn-primary mr-2">Детальніше</a>
                    </div>
                </form>
            </div>
                    {% endfor %}
            </div>
    </div>
</main>
{% endblock %}





