{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Add your tip
{% endblock %}

{% block maincont %}
<main class="main container">
    <div class="formFormWrapper container text-center">
        <div class="formForm row row-cols-1">
            <div class="col ml-auto">
                <form method="post" id="myForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Надіслати</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
