{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link href="{% static 'css/tip.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Add your tip
{% endblock %}

{% block maincont %}

<main class="main container">
    <div class="formFormWrapper container text-center">
        <div class="formForm row row-cols-1">
            <div class="col ml-auto">
                <form method="post" id="myForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Надіслати</button>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="alertok">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block script%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        var delayTime = 2000; 
        $(".alert").delay(delayTime).fadeOut();
    });
</script>

        
{% endblock %}
