.col {
    margin-bottom: 20px; 
} 

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form#mainpage{
    width: auto; /* Автоматична ширина */
    height: 900px; /* Автоматична висота */
    margin: 0 auto;
    border: 1px solid #cccccc98;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    word-wrap: break-word;
}

form#mainpage:hover {
    transform: scale(1.03);
}
.form-group{
    padding: 20px;
    
}
form img {
    border-radius: 10px;
  }
