img#profile {
    margin: 1em;
    width: 20em;
    border-radius: 50%;
    border: white solid 2px;
}

button#telegram {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    margin-left: auto;
    margin-right: auto;
}

button#telegram:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button#telegram:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button#telegram span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

button#telegram svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

button#telegram .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

button#telegram:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

button#telegram:hover svg {
    transform: rotate(45deg);
}

.social-links {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  
  .social-link {
    color: var(--bs-secondary-color)!important;
    font-size: 2em;
    transition: transform 0.5s ease-in-out;
  }
  
  .social-link:hover {
    transform: scale(1.25);
  }